/* pages/view-discovery.wxss */
@import url(/styles/utils.less);
page {
  background-color: #f5f5f5;
  padding-bottom: 200rpx;

  --search-background-color: #fff;
  --search-padding: 0 30rpx;
}

.banners {
  margin-top: 40rpx;
  height: 270rpx;

  .banners-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-image {
      border-radius: 20rpx;
      margin: 0 20rpx;
      width: 100%;
    }

    .typeTitle {
      position: absolute;
      bottom: 10rpx;
      right: 30rpx;
      border-radius: 10rpx;
      background-color: #fff;
      padding: 2rpx;
      font-size: 20rpx;
    }
  }
}
.banners-loading {
  height: 270rpx;
  width: 100%;
}

.ranking {
  height: 780rpx;

  .ranking-item {
    margin: 0 8rpx;
    padding: 30rpx;
    border-radius: 20rpx;
    background-color: #fff;
  }
  .title {
    font-size: 30rpx;
    font-weight: 500;
  }

  .song-item {
    display: flex;
    padding: 10rpx 0;
    align-items: center;

    .song-image {
      flex: none;
      width: 90rpx;
      height: 90rpx;
      border-radius: 16rpx;
      margin-right: 30rpx;
    }

    .rank {
      flex: none;
      font-size: 32rpx;
      font-weight: 500;
      color: #333;
      margin-right: 30rpx;
    }

    .info {
      // flex: 1;
      overflow: hidden;

      .name {
        .one-line-ellipsis();
        font-size: 30rpx;
        color: #333;
      }
      .artist {
        .one-line-ellipsis();
        margin-top: 10rpx;
        font-size: 24rpx;
        color: #969799cc;
      }
    }
  }
}
