/* pages/detail-songlist/detail-songlist.wxss */
.image {
  // height: 700rpx;
  width: 100%;
}

.play-all {
  display: flex;
  align-items: center;
  padding: 24rpx;
  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .icon-Fa6SolidCirclePlay {
    color: red;
    font-size: 44rpx;
    margin-right: 26rpx;
  }
  .play-all-text {
    font-weight: 600;
    color: #333;
  }
}
